body {
  font-family: arial;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url('https://4kwallpapers.com/images/walls/thumbs_3t/6275.jpg');
  background-size: cover; 
}

h1 {
  color: #0ef;
  text-align: center;
  font-size: 100px;
  -webkit-text-stroke: 3px rgb(0, 0, 0);
  font-family: sans-serif;
  text-transform: uppercase;
  animation: neonGlow 1s ease-in-out infinite alternate-reverse;
}

h3 {
  color:whitesmoke;
}

#wordDisplay {
  margin-bottom: 20px;
  width: 250px;
  position: relative;
}

#word {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  text-transform: uppercase;
}

p {
  color: whitesmoke;
}

#keyboard {
  background-color: #d9d9d9;
  border-radius: 10px;
  padding: 10px;
  margin-top: 50px;
}

#winningMessage{
  color: #0ef;
  text-align: center;
  font-size: 50px;
  -webkit-text-stroke: 1px rgb(0, 0, 0);
  font-family: sans-serif;
  text-transform: uppercase;
}

.keyboardRow {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.letter {
  width: 40px;
  height: 40px;
  margin: 5px;
  border: 1px solid #AAA;
  background-color: whitesmoke;
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-size: 18px;
  border-radius: 4px;
  cursor: pointer;
}

#startGame, #reloadGame {
  margin-top: 50px;
  color: #FFF;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-weight: bold;
  margin-top: 20px;
  cursor: pointer;
}

#reloadGame {
  background-color: #353535;
}

#reloadGame:hover{
  background-color: black;
}

#startGame{
  background-color: rgb(192, 64, 64);
}

#startGame:hover{
  background-color: red;
}

.message {
  font-size: 18px;
  font-weight: bold;
  margin-top: 20px;
  color: whitesmoke;
}

#guesses {
  position: absolute;
  left: 20px;
  top: 30px;
  color: whitesmoke;
}

#guesses p {
  margin: 0;
  font-size: 18px;
}

#guessCount {
  font-weight: bold;
}

.letter:hover {
  background-color: rgba(98, 65, 101, 0.243);
  color: #FFF;
}

#wordDisplay{
  font-size: large;
}

.letter.selected {
  background-color: #69c;
  color: #FFF;
}

body {
  font-family: Arial, sans-serif;
  text-align: center;
}


button.disabled {
  pointer-events: none;
  opacity: 0.1;
}

.disclaimer{
  font-size: 10px;
  color: #0ef;
}

@keyframes neonGlow {
  0% {
      text-shadow: 0 0 20px rgb(230, 0, 255), 0 0 40px rgb(200, 0, 255), 0 0 60px rgb(157, 0, 255);
  }

  100% {
      text-shadow: 0 0 10px rgb(157, 0, 255), 0 0 20px rgb(200, 0, 255), 0 0 30px rgb(230, 0, 255);
  }
}
@keyframes blink {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  h3.space-animation {
    animation: blink 2s infinite;
    color: #0ef; 
    font-family: 'Orbitron', sans-serif; 
  }
